<%- include('includes/head.ejs') %>

<link rel="stylesheet" href="/public/css/forms.css">

</head>

<body>
    <form method="POST" action="/auth/login">
            <label for="email">Email</label>
            <input type="email" id="email" required />
            <label for="password">Password</label>
            <input type="password" id="password" required/>

            <input type="submit" value="Login"/>
            <a href="/views/reset.ejs">Forgot Password</a>
    </form>

<%- include('includes/footer.ejs') %>