<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/forms.css">

</head>

<body>
    <form method="POST" action="/auth/signup">
            <label for="fname">First Name</label>
            <input type="text" id="fname" required />
            <label for="lname">Last Name</label>
            <input type="text" id="lname" required />
            <label for="email">Email</label>
            <input type="email" id="email" required />
            <label for="password">Password</label>
            <input type="password" id="password" required/>

            <input type="submit" value="Signup"/>
            <a href="/views/login">Already have an account</a>
    </form>

</body>

</html>